
<div th:fragment="BottomScripts">
<script th:src="@{../../static/xenon/assets/js/bootstrap.min.js}"></script>
<script th:src="@{../../static/xenon/assets/js/TweenMax.min.js}"></script>
<script th:src="@{../../static/xenon/assets/js/resizeable.js}"></script>
<script th:src="@{../../static/xenon/assets/js/joinable.js}"></script>
<script th:src="@{../../static/xenon/assets/js/xenon-api.js}"></script>
<script th:src="@{../../static/xenon/assets/js/xenon-toggles.js}"></script>

    <!-- Imported scripts on this page -->
<script th:src="@{../../static/xenon/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script th:src="@{../../static/xenon/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script th:src="@{../../static/xenon/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>
<!-- JavaScripts 初始化 -->
<script th:src="@{../../static/xenon/assets/js/xenon-custom.js}"></script>
</div>