
<div th:fragment="BottomScripts">
<script th:src="@{/xenon/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/xenon/assets/js/TweenMax.min.js}"></script>
<script th:src="@{/xenon/assets/js/resizeable.js}"></script>
<script th:src="@{/xenon/assets/js/joinable.js}"></script>
<script th:src="@{/xenon/assets/js/xenon-api.js}"></script>
<script th:src="@{/xenon/assets/js/xenon-toggles.js}"></script>
<script th:src="@{/xenon/assets/js/jquery-validate/jquery.validate.min.js}"></script>
<script th:src="@{/layer/layer.js}"></script>

    <!-- dataTables -->
<script th:src="@{/xenon/assets/js/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/xenon/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script th:src="@{/xenon/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script th:src="@{/xenon/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>
<script th:src="@{/xenon/assets/js/rwd-table/js/rwd-table.min.js}"></script>
<!-- JavaScripts 初始化 -->
<script th:src="@{/xenon/assets/js/xenon-custom.js}"></script>
</div>