<footer th:fragment="foot" class="main-footer sticky footer-type-1">

    <div class="footer-inner">

        <!-- 版权文本 -->
        <div class="footer-text">
            &copy; 2018
            <strong>Xenon</strong>
            Technical Support <a href="http://www.dawn7.cc/" target="_blank" title="Dawn">陈晨</a> - 泛微OA系统：<a href="http://123.146.248.2:8000/" title="OA" target="_blank">公司办公系统</a>
        </div>

        <!-- 转到顶部, 只需将rel =“go-top”添加到任何链接即可添加此功能（回到顶部） -->
        <div class="go-up">

            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>

        </div>

    </div>

</footer>

