<footer th:fragment="foot" class="main-footer sticky footer-type-1">

    <div class="footer-inner">

        <!-- Add your copyright text here -->
        <div class="footer-text">
            &copy; 2018
            <strong>Xenon</strong>
            Technical Support <a href="http://www.dawn7.cc/" target="_blank" title="Dawn">陈晨</a> - 泛微OA系统：<a href="http://123.146.248.2:8000/" title="OA" target="_blank">公司办公系统</a>
        </div>

        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">

            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>

        </div>

    </div>

</footer>

