<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#using-thtext-and-externalizing-text" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="baseTemplate/headHtml :: head"></head>
<body class="page-body">
<!--profileLeft -->
<div th:replace="baseTemplate/profileLeft :: profileLeft"></div>
<!--profileLeft -->
<!-- nav -->
<nav th:replace="baseTemplate/navHtml :: nav"></nav>
<!-- nav -->
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div class="main-content">

		<h3 th:text="${aa}"></h3><span class="h3">欢迎使用合同管理系统&hellip;</span>
        <p th:text="${model}">default message</p>
        <p th:text="${request}">default message</p>


		<footer th:replace="baseTemplate/footHtml :: foot"></footer>
	</div>

</div>
<!-- Bottom Scripts -->
<div th:replace="baseTemplate/BottomScriptsHtml :: BottomScripts"></div>
</body>
</html>