
    <nav  th:fragment="nav" class="navbar horizontal-menu navbar-fixed-top navbar-minimal"><!-- set fixed position by adding class "navbar-fixed-top" -->

        <div class="navbar-inner">

            <!-- Navbar Brand -->
            <div class="navbar-brand">
                <a href="#" class="logo">
                    <svg width="80" height="25" class="hidden-xs" xmlns="http://www.w3.org/2000/svg">
                        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                        <defs>
                            <filter id="svg_4_blur">
                                <feGaussianBlur stdDeviation="0" in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <g>
                            <title>汽博中心合同管理系统</title>
                            <rect fill="#fff" id="canvas_background" height="27" width="82" y="-1" x="-1"/>
                            <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                                <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                            </g>
                        </g>
                        <g>
                            <title>汽博中心合同管理系统</title>
                            <text font-style="normal" font-weight="bold" filter="url(#svg_4_blur)" stroke="#000" transform="matrix(0.833058253312891,0,0,1.0848742289327875,-9.022444369884207,9.708923026607094) " xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_4" y="11.55467" x="9.93188" stroke-width="0" fill="#000000">汽博中心</text>
                        </g>
                    </svg>
                    <svg width="40" height="40" class="visible-xs" xmlns="http://www.w3.org/2000/svg">
                        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                        <g>
                            <title>汽博中心</title>
                            <rect fill="#fff" id="canvas_background" height="42" width="42" y="-1" x="-1"/>
                            <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                                <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                            </g>
                        </g>
                        <g>
                            <title>汽博中心</title>
                            <text xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_5" y="9.55465" x="30.81237" stroke-width="0" stroke="#000" fill="#000000"/>
  <text stroke="#000" transform="matrix(0.8656468731886949,0,0,0.8086216854847389,-2.9156337526123997,10.259417175089267) " xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_6" y="7.67952" x="2.45289" stroke-width="0" fill="#494141">汽博</text>
  <text stroke="#000" transform="matrix(0.9119850639192416,0,0,0.9112433590396581,-6.5412349313661196,18.039397410633104) " xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_7" y="21.17092" x="4.1453" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#494141">中心</text>
                        </g>
                    </svg>
                </a>
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="linecons-user"></i>
                </a>
            </div>

            <!-- 手机版 -->
            <div class="nav navbar-mobile">

                <!-- 手机设备可见 -->
                <div class="mobile-menu-toggle">
                    <!-- 这将打开用户配置文件设置的弹出窗口，您可以用于任何目的 -->
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="linecons-cog"></i>
                    </a>


                    <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
                    <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
                    <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
                    <a href="#" data-toggle="mobile-menu-horizontal">
                        <i class="fa-bars"></i>
                    </a>
                </div>

            </div>

            <div class="navbar-mobile-clear"></div>
            <!-- 手机版 -->


            <!-- main menu -->
            <ul class="navbar-nav">

                <li>
                    <a href="#">
                        <i class="linecons-cog"></i>
                        <span class="title">系统设置</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/users/userManagement">
                                <i class="fa-users"></i>
                                <span class="title">用户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/department/department">
                                <i class="fa-home"></i>
                                <span class="title">部门管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/role/role">
                                <i class="fa-male"></i>
                                <span class="title">角色管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-bank"></i>
                                <span class="title">权限管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-folder-open-o"></i>
                                <span class="title">资源链管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li th:each="department : ${initDepartmentsList}">
                    <a href="#">
                        <i class="fa-users"></i>
                        <span class="title" th:text="${department.departmentname}"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="linecons-shop"></i>
                        <span class="title">招商部</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa-book"></i>
                                <span class="title">合同管理</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa-file-text"></i>
                                        <span class="title">名车广场合同</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa-file-text"></i>
                                                <span class="title">合同1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-file-text"></i>
                                                <span class="title">合同2</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-file-text"></i>
                                        <span class="title">二手车市场合同</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa-file-text"></i>
                                                <span class="title">合同1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa-file-text"></i>
                                                <span class="title">合同2</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- main menu -->

            <!-- profileRight -->
            <ul class="nav nav-userinfo navbar-right">

                <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

                    <form method="get">
                        <input type="text" name="s" class="form-control search-field" placeholder="键入搜索内容..." />

                        <button type="submit" class="btn btn-link">
                            <i class="linecons-search"></i>
                        </button>
                    </form>

                </li>

                <li class="dropdown user-profile">
                    <a href="#" data-toggle="dropdown">
                        <img src="/xenon/assets/images/user-1.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                        <span th:text="${username}">
							<i class="fa-angle-down"></i>
						</span>
                    </a>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li>
                            <a href="#">
                                <i class="fa-edit"></i>
                                合同录入
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-wrench"></i>
                                设置
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-user"></i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-info"></i>
                                帮助
                            </a>
                        </li>
                        <li class="last">
                            <a href="/logout">
                                <i class="fa-lock"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1036359208&site=qq&menu=yes" alt="点击这里给我发消息" title="点击这里给我发消息">
                        <i class="fa-qq"></i>
                    </a>
                </li>

            </ul>
            <!-- profileRight -->
        </div>

    </nav>
