<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="baseTemplate/headHtml :: head"></head>
<body class="page-body" onload="">
<!--profileLeft -->
<div th:replace="baseTemplate/profileLeft :: profileLeft"></div>
<!--profileLeft -->
<!-- nav -->
<nav th:replace="baseTemplate/navHtml :: nav"></nav>
<!-- nav -->
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div class="main-content">

		<h3>欢迎使用合同管理系统&hellip;</h3>


		<footer th:include="baseTemplate/footHtml :: foot" class="main-footer sticky footer-type-1"></footer>
	</div>

</div>
<!-- Bottom Scripts -->
<div th:replace="baseTemplate/BottomScriptsHtml :: BottomScripts"></div>
</body>
</html>